 [ req ]
 default_bits           	= 2048
 distinguished_name= req_distinguished_name
 attributes             	= req_attributes
 prompt                 	= no

 [ req_distinguished_name ]
C    		= SL
 ST       	= .
 L       	= .
 O          = .
 OU       	= .
 CN         	= localhost
 emailAddress           = test@email.address

 [ req_attributes ]
 challengePassword              = wso2pwd
