<div class="left-content-list">
	<ul class="nav nav-pills nav-as nav-stacked nav-as-margin">
        <li class="nav-parent"><a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          <ul class="children">
              <li class="{{#if nav.http-response-codes}}active{{/if}}">
                  <a class="in-link" href="http-response-codes"><i class="fa  fa-dot-circle-o"></i> HTTP Response Codes</a>
              </li>
              <li class="{{#if nav.context}}active{{/if}}">
                  <a class="in-link" href="context"><i class="fa  fa-dot-circle-o"></i> Resources</a>
              </li>
          </ul>
        </li>
    </ul>
</div>

